.new {
    &__layout {
        padding-bottom: 4.5625em;
    }

    &__title {
        margin-bottom: 74px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px
    }
}