section(class="pradina")
    div(class="container pradina__container")
        div(class="layout pradina__layout")
            h3(class="title title--sm title--contrast pradina__title") LA PRADINA
            a(class="btn btn--alter pradina__link" href="#") EVERYTHING FOR HER