section(class="pradina")
    div(class="container pradina__container")
        div(class="layout pradina__layout")
            h3(class="title pradina__title") LA PRADINA
            a(class="btn pradina__link" href="#") EVERYTHING FOR HER