.him {
    &__layout {
        padding-bottom: 9.6875em;
    }
    
    &__title {
        margin-bottom: 2.0277em;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3.125em;
    }
}

@media (max-width: 1023px) {
    .him {
        &__layout {
            padding-bottom: 5.6875em;
        }
        
        &__list {
            grid-gap: 1.25em;
        }
    }
}

@media (max-width: 767px) {
    .him {
        &__layout {
            padding-bottom: 3em;
        }

        &__list {
            grid-template-columns: 1fr;
            grid-gap: 2em;
            margin-right: -0.75rem;
            margin-left: -0.75rem;
        }

        &__title {
            margin-bottom: 1.3333em;
        }
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .him {
        &__list {
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.75em;
        }
    }
}