.him {
    &__layout {
        padding-bottom: 9.6875em;
    }
    
    &__title {
        margin-bottom: 2.0277em;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3.125em;
    }
}