@import '../fonts/fonts.scss';

:root {
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    font-size: 100%;

    --text: #000;
    --bg: #f4f5f7;
    --bg-header: #C4C4C4;
    --btn-bg-hover: #000;
    --btn-color-hover: #fff;
    --card-text-alter: #848484;

    --duration: 200ms;
    --timing-function: ease-in;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

.main {
    max-width: 1440px;
    margin: auto;
    background: var(--bg);
}

.container {
    margin: auto;
    padding-right: 7.625rem;
    padding-left: 7.625rem;
}

.list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

// ui
@import '../ui/title/title.scss';
@import '../ui/link/link.scss';
@import '../ui/btn/btn.scss';
@import '../ui/text/text.scss';
@import '../ui/card/card.scss';

// sections
@import '../sections/header/header.scss';
@import '../sections/hero/hero.scss';
@import '../sections/seasons/seasons.scss';
@import '../sections/new/new.scss';
@import '../sections/collections/collections.scss';