header(class="header")
    div(class="container header__container")
        div(class="layout header__layout")
            a(class="link header__sale" href="#") SHOP THE SALE COLLECTION
            div(class="header__group")
                a(class="link header__login" href="#") Sign In / Register
                a(class="link header__favorite" href="#" aria-label="favorite") 
                    svg(class="header__svg" width="13" height="13" viewBox="0 0 13 13")
                        use(href="assets/img/defs.svg#heart")
                a(class="link header__bag" href="#")
                    svg(class="header__svg" width="13" height="13" viewBox="0 0 13 13")
                        use(href="assets/img/defs.svg#bag")
                    span Bag