extends ../templates/layout.pug

block variables
    - 
        let title = 'Prada Landing Page';
        let navList = [
            {
                href: '#', 
                innerHTML: 'Women', 
            }, 
            {
                href: '#', 
                innerHTML: 'Men', 
            }, 
            {
                href: '#', 
                innerHTML: 'Children', 
            }, 
            {
                href: '#', 
                innerHTML: 'Sale', 
            }, 
            {
                href: '#', 
                innerHTML: 'New In', 
            }, 
            {
                href: '#', 
                innerHTML: 'Home collection', 
            }, 
        ];
        let newList = [
            {
                imgName: 'i1', 
                imgAlt: 'Terry tote bag', 
                colors: '4 colors', 
                aHref: '#', 
                aInnerHTML: 'Terry tote bag', 
            }, 
            {
                imgName: 'i2', 
                imgAlt: 'Re-Nylon bucket hat', 
                colors: '8 colors', 
                aHref: '#', 
                aInnerHTML: 'Re-Nylon bucket hat', 
            }, 
            {
                imgName: 'i3', 
                imgAlt: 'Prada Symbole sunglasses', 
                colors: '1 color', 
                aHref: '#', 
                aInnerHTML: 'Prada Symbole sunglasses', 
            }, 
        ];
        let himList = [
            {
                imgName: 'i1', 
                imgAlt: 'Cotton pique T-shirt', 
                colors: '2 colors', 
                aHref: '#', 
                aInnerHTML: 'Cotton pique T-shirt', 
            }, 
            {
                imgName: 'i2', 
                imgAlt: 'Cotton robe', 
                colors: '1 colors', 
                aHref: '#', 
                aInnerHTML: 'Cotton robe', 
            }, 
            {
                imgName: 'i3', 
                imgAlt: 'Prada Symbole sunglasses', 
                colors: '2 colors', 
                aHref: '#', 
                aInnerHTML: 'Prada Symbole sunglasses', 
            }, 
        ];

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug
    include ../../sections/seasons/seasons.pug
    include ../../sections/new/new.pug
    include ../../sections/collections/collections.pug
    include ../../sections/him/him.pug
    include ../../sections/pradina/pradina.pug