.btn {
    border: 1px solid var(--text);
    border-radius: 0;
    padding: 1.28em 3.9em;
    background: none;
    color: var(--text);
    font: 600 0.875em/1.3619 'Open sans', sans-serif;
    text-decoration: none;
    transition: background-color var(--duration) var(--timing-function), 
                color var(--duration) var(--timing-function),
                border-color var(--duration) var(--timing-function);

    &--alter {
        background: #fff;
    }

    &:hover {
        border-color: var(--btn-bg-hover);
        color: var(--btn-color-hover);
        background: var(--btn-bg-hover);
    }
}