section(class="seasons")
    div(class="container seasons__container")
        div(class="layout seasons__layout")
            h2(class="title seasons__title") SUMMER 2021
            p(class="text seasons__text") Explore sports-inspired ready-to-wear and bold accessories from the latest collection.
            a(class="btn seasons__link" href="#") NEW IN FOR HER 