@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Modern 20";
  src: url("../fonts/Modern-Regular.woff2") format("woff2"), url("../fonts/Modern-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-SemiBold.woff2") format("woff2"), url("../fonts/SegoeUI-SemiBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
:root {
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
  font-size: 100%;
  --text: #000;
  --bg: #f4f5f7;
  --bg-header: #C4C4C4;
  --btn-bg-hover: #000;
  --btn-color-hover: #fff;
  --card-text-alter: #848484;
  --contrast: #fff;
  --duration: 200ms;
  --timing-function: ease-in;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-right: 7.625rem;
  padding-left: 7.625rem;
  background: var(--bg);
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@media (max-width: 1199px) {
  .container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}
@media (max-width: 1023px) {
  .container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
.title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text);
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  line-height: 1.3619;
  text-align: center;
}
.title--alter {
  font-family: "Modern 20", sans-serif;
  font-weight: 400;
  line-height: 1.07;
}
.title--contrast {
  color: var(--contrast);
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  letter-spacing: 0.35em;
}
.title--lg {
  font-size: 3em;
}
.title--md {
  font-size: 2.25em;
}
.title--sm {
  font-size: 1.5em;
}
.title--xsm {
  font-size: 1.125em;
}

.link {
  color: var(--text);
  text-decoration: none;
}
.link:focus {
  outline: 2px solid transparent;
  box-shadow: 0px 0px 0px 2px blue;
}
.link:hover {
  color: #444;
  text-decoration: underline;
}

.btn {
  border: 1px solid var(--text);
  border-radius: 0;
  padding: 1.28em 3.9em;
  background: none;
  color: var(--text);
  font: 600 0.875em/1.3619 "Open sans", sans-serif;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}
.btn--alter {
  border-color: var(--contrast);
  padding: 1.284em 2.815em;
  font-family: "Segoe UI", sans-serif;
  background: #fff;
}
.btn:focus {
  outline: 2px solid transparent;
  box-shadow: 0px 0px 0px 2px blue;
}
.btn:hover {
  border-color: var(--btn-bg-hover);
  color: var(--btn-color-hover);
  background: var(--btn-bg-hover);
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text);
  font: 400 1.125em/1.3619 "Open sans", sans-serif;
}
.text--sm {
  font-size: 0.75em;
}

.card {
  position: relative;
}
.card__img-wrap {
  height: 34.445vw;
  margin-bottom: 1.062em;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2.5em;
}

.info-card__colors {
  margin-bottom: 0.3333em;
  color: var(--card-text-alter);
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.3616;
  text-transform: uppercase;
}
.info-card__link {
  color: var(--text);
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1.3621;
}
.info-card__link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 1023px) {
  .card__img-wrap {
    height: 40.445vw;
  }
}
@media (max-width: 767px) {
  .card__img-wrap {
    height: 500px;
  }
}
.header__container {
  padding-right: 8.9375rem;
  padding-left: 8.9375rem;
  background: var(--bg-header);
}
.header__layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". sale login";
  align-items: center;
  min-height: 50px;
  padding-top: 3px;
  font-size: 0.875em;
  line-height: 1.3619;
}
.header__sale {
  grid-area: sale;
  text-align: center;
  text-decoration: underline;
}
.header__login {
  margin-right: 1.1428em;
}
.header__group {
  display: flex;
  align-items: center;
  grid-area: login;
  justify-self: end;
}
.header__favorite {
  margin-right: 1.6428em;
}
.header__bag {
  display: flex;
  align-items: baseline;
}
.header__bag > svg {
  margin-right: 0.3571em;
}
.header__svg {
  display: block;
}

@media (max-width: 1199px) {
  .header__container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}
@media (max-width: 1023px) {
  .header__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
@media (max-width: 767px) {
  .header__layout {
    display: flex;
    flex-direction: column;
    gap: 0.7142em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.hero__container {
  padding-right: 6.375rem;
  padding-left: 6.375rem;
}
.hero__layout {
  padding-top: 1.25em;
  padding-bottom: 1.625em;
}
.hero__title {
  margin-bottom: 0.4166em;
}
.hero__nav {
  margin-bottom: 1em;
}
.hero__img-wrap {
  height: 47.9vw;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-hero__list {
  display: flex;
  justify-content: center;
  gap: 4.4375em;
}
.nav-hero__link {
  font: 400 1.125em/1.07 "Modern 20", sans-serif;
}

@media (max-width: 1199px) {
  .hero__container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}
@media (max-width: 1023px) {
  .hero__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .hero__img-wrap {
    margin: 0 -1.25rem;
  }
}
@media (max-width: 767px) {
  .hero__container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .hero__layout {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .hero__img-wrap {
    height: 60vw;
    margin: 0 -0.75rem;
  }
  .hero__nav {
    margin-bottom: 1.5em;
  }
  .nav-hero__list {
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
  }
}
.seasons__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  margin: 0 auto;
  padding-bottom: 2.5em;
}
.seasons__title {
  margin-bottom: 0.7222em;
}
.seasons__text {
  margin-bottom: 1.7777em;
  text-align: center;
}

@media (max-width: 767px) {
  .seasons__layout {
    padding-bottom: 3em;
  }
}
.new__layout {
  padding-bottom: 4.5625em;
}
.new__title {
  margin-bottom: 2.0555em;
}
.new__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.125em;
}

@media (max-width: 1023px) {
  .new__list {
    grid-gap: 1.25em;
  }
}
@media (max-width: 767px) {
  .new__layout {
    padding-bottom: 3em;
  }
  .new__list {
    grid-template-columns: 1fr;
    grid-gap: 2em;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .new__title {
    margin-bottom: 1.333em;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .new__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75em;
  }
}
.collections__layout {
  display: flex;
  gap: 3.125em;
  padding-bottom: 4.625em;
}
.collections__group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.collections__img-wrap {
  flex-basis: 781px;
  height: 45.556vw;
}
.collections__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collections__title, .collections__text {
  max-width: 240px;
}
.collections__title {
  text-align: left;
}
.collections__text {
  margin-bottom: 3.0833em;
}
.collections__link {
  min-width: 224px;
}

@media (max-width: 1023px) {
  .collections__img-wrap {
    height: 49.556vw;
  }
}
@media (max-width: 767px) {
  .collections__layout {
    flex-direction: column;
    padding-bottom: 3em;
  }
  .collections__group {
    align-items: center;
  }
  .collections__img-wrap {
    flex-basis: 80vw;
    height: auto;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .collections__text {
    text-align: center;
  }
}
.him__layout {
  padding-bottom: 9.6875em;
}
.him__title {
  margin-bottom: 2.0277em;
}
.him__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.125em;
}

@media (max-width: 1023px) {
  .him__layout {
    padding-bottom: 5.6875em;
  }
  .him__list {
    grid-gap: 1.25em;
  }
}
@media (max-width: 767px) {
  .him__layout {
    padding-bottom: 3em;
  }
  .him__list {
    grid-template-columns: 1fr;
    grid-gap: 2em;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .him__title {
    margin-bottom: 1.3333em;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .him__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75em;
  }
}
.pradina__container {
  padding: 0 6.375em 27px;
}
.pradina__layout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 40.3vw;
  padding: 2.5625em;
  background: no-repeat center/cover;
  background-image: url("../img/pradina/i1@1x.jpg");
  background-image: -webkit-image-set(url("../img/pradina/i1@2x.jpg") 2x, url("../img/pradina/i1@1x.jpg") 1x);
  background-image: image-set("../img/pradina/i1@2x.jpg" 2x, "../img/pradina/i1@1x.jpg" 1x);
}
.pradina__title {
  margin-right: -0.375em;
  margin-bottom: 1.0416em;
  text-align: right;
}

@media (max-width: 1199px) {
  .pradina__container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}
@media (max-width: 1023px) {
  .pradina__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .pradina__layout {
    height: 50.3vw;
    margin: 0 -1.25rem;
    padding: 1.25rem;
  }
}
@media (max-width: 767px) {
  .pradina__container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .pradina__layout {
    height: 60.3vw;
    margin: 0 -0.75rem;
  }
}
.footer__container {
  padding-right: 7.5em;
  padding-left: 7.5em;
}
.footer__layout {
  padding-top: 2.75em;
  padding-bottom: 41px;
}
.footer__top {
  display: flex;
  gap: 50px;
  margin-bottom: 2.75em;
}
.footer__group:nth-child(1) {
  flex-basis: 193px;
}
.footer__group:nth-child(2) {
  flex-basis: 563px;
}
.footer__group:last-of-type {
  margin-bottom: 44px;
}
.footer__locator {
  display: inline-flex;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.3619;
}
.footer__locator > svg {
  margin-right: 0.2142em;
}

.group-footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6875em;
}
.group-footer__title {
  margin-bottom: 6px;
  font-weight: 700;
  text-align: left;
}
.group-footer__social {
  gap: 0.9375em;
  flex-direction: row;
  padding-top: 0.5em;
}

.list-group-footer__link {
  display: inline-block;
  font-size: 0.875em;
  line-height: 1.3619;
}
.list-group-footer__link > svg {
  display: block;
}

@media (max-width: 1199px) {
  .footer__container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}
@media (max-width: 1023px) {
  .footer__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
@media (max-width: 767px) {
  .footer__container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .footer__layout {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 0.625em;
  }
  .footer__bottom {
    text-align: center;
  }
  .footer__group:nth-child(1), .footer__group:nth-child(2) {
    flex-basis: auto;
  }
  .footer__group:last-of-type {
    margin-bottom: 44px;
  }
  .group-footer__list {
    align-items: center;
  }
  .group-footer__title {
    text-align: center;
  }
}