.collections {
    &__layout {
        display: flex;
        gap: 3.125em;
        padding-bottom: 4.625em;
    }

    &__group {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__img-wrap {
        flex-basis: 781px;
        height: 45.556vw;   
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title, 
    &__text {
        max-width: 240px;
    }

    &__title {
        text-align: left;
    }

    &__text {
        margin-bottom: 3.0833em;
    }

    &__link {
        min-width: 224px;
    }
}

@media (max-width: 1023px) {
    .collections {
        &__img-wrap {
            height: 49.556vw;
        }
    }
}

@media (max-width: 767px) {
    .collections {
        &__layout {
            flex-direction: column;
            padding-bottom: 3em;
        }

        &__group {
            align-items: center;
        }
        
        &__img-wrap {
            flex-basis: 80vw;
            height: auto;
            margin-right: -0.75rem;
            margin-left: -0.75rem;
        }

        &__text {
            text-align: center;
        }
    }
}