section(class="collections")
    div(class="container collections__container")
        div(class="layout collections__layout")
            div(class="collections__group")
                h3(class="title title--sm collections__title") LIGHT LAYERS
                p(class="text text--sm collections__text") The Pre-Fall 2021 womenswear collections lightweight jackets in relaxed fits.
                a(class="btn collections__link" href="#") SHOP NOW 
            div(class="collections__img-wrap")
                img(class="collections__img" src="assets/img/collections/i1@1x.jpg" srcset="assets/img/collections/i1@2x.jpg 2x, assets/img/collections/i1@1x.jpg 1x" alt="woman with bag" style="max-width: 100%;")